@use '../variables';
@use 'sass:map';

.alert {
  border: map.get(variables.$borders, pxmd) solid var(--color);
  padding: map.get(variables.$spacings, 2);
  margin: map.get(variables.$spacings, 1);
  color: var(--color);
  background-color: transparent;
  border-radius: map.get(variables.$borders, sm);

  &.success {
    --color: var(--md-sys-color-primary);
  }
}