@use '../variables';
@use 'sass:map';

.alert {
  border: map.get(variables.$borders, pxsm) solid var(--border-color);
  padding: map.get(variables.$spacings, 2);
  margin: map.get(variables.$spacings, 1);
  color: var(--color);
  background-color: var(--background-color);
  border-radius: map.get(variables.$borders, sm);
}