@use '../variables';
@use 'sass:map';

.btn {
  border-radius: 300px;
  padding: map.get(variables.$spacings, 2);
  margin: map.get(variables.$spacings, 2);
  text-decoration: none;
  display: inline-block;
  background-color: var(--background-color);
  color: var(--color);
  border: map.get(variables.$borders, pxsm) solid var(--color-type-link);

  &.disabled, &[disabled] {
    filter: invert(0.2) brightness(0.75);
  }

  &:hover:not(.disabled):not([disabled]) {
    filter: invert(0.2);
  }

  transition: filter map.get(variables.$times, sm);
}

.btn.small {
  padding: map.get(variables.$spacings, 1) map.get(variables.$spacings, 2);
  margin: map.get(variables.$spacings, 1);
}