@use '../variables';
@use 'sass:map';

.card {
  background-color: var(--md-sys-color-surface-container);
  color: var(--md-sys-color-on-surface);
  border-radius: map.get(variables.$borders, md);
  margin: map.get(variables.$spacings, 2);
  padding: map.get(variables.$spacings, 3);
  height: auto;
  width: auto;

  .header,
  .footer {
    font-weight: bold;
  }
}


.card .card {
  border: map.get(variables.$borders, pxsm) solid var(--md-sys-color-outline);
}