@use '../variables';
@use 'sass:map';

.segmented-buttons {
  margin: map.get(variables.$spacings, 2);
  width: max-content;
  background-color: transparent;
  display: flex;
  overflow: hidden;

  & > button {
    border: map.get(variables.$borders, pxsm) solid var(--md-sys-color-outline);
    border-left: calc(map.get(variables.$borders, pxsm)/2) solid var(--md-sys-color-outline);
    border-right: calc(map.get(variables.$borders, pxsm)/2) solid var(--md-sys-color-outline);
    background-color: transparent;
    color: var(--color-type-on-container-link);
    padding: map.get(variables.$spacings, 2) map.get(variables.$spacings, 3);

    &:first-child {
      border-top-left-radius: 300px;
      border-bottom-left-radius: 300px;
      border-left: map.get(variables.$borders, pxsm) solid var(--md-sys-color-outline);
    }

    &:last-child {
      border-top-right-radius: 300px;
      border-bottom-right-radius: 300px;
      border-right: map.get(variables.$borders, pxsm) solid var(--md-sys-color-outline);
    }

    &.active,
    &[active] {
      background-color: var(--color-type-container-link);
      color: var(--color-type-on-container-link);
    }

    &.disabled, &[disabled] {
      filter: invert(0.2) brightness(0.75);
    }
  
    &:hover:not(.disabled):not([disabled]) {
      filter: invert(0.2);
    }
  
    transition: all map.get(variables.$times, sm);
  }
}

